.hour_temp_container {
  padding: 1rem;
  white-space: nowrap;
  position: relative;
}

.hour_temp_container p:first-child {
  position: relative;
  padding-bottom: 0.4rem;
}

.hour_temp_container p:first-child::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.hour_temp_container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
}
