.btn_back {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border: 1px white solid;

  font-size: 1.5rem;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  padding: 0.3rem 0.6rem;
}

.btn_back span {
  transform: translateY(-2px);
}

/*

  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
