.logo {
  width: 5rem;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: auto 0;
}

@media (max-width: 500px) {
  .logo {
    width: 3.5rem;
  }
}
